<%- include('../partials/header') %>

<table>
  <thead>
    <th>Flight Number</th>
    <th>Airline</th>
    <th>Departs</th>
    <th>See Details</th>
  </thead>
  <tbody>
    <% flights.forEach(function(flight, idx) { %>
    <tr>
      <td><%= flight.flightNo %></td>
      <td><%= flight.airline %></td>
      <td><%= flight.departs.toDateString() %></td>
      <td>
        <form action="/flights/<%= flight._id %>" method="GET">
          <button>Details</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer'); %>